<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- CAMINHO ABSOLUTO DO SEU ARQUIVO JSON -->
		<add key="FirebaseCredentialPath"
			 value="C:\Users\tulio\Downloads\firebase-credentials.json"/>

		<!-- SEU PROJECT ID DO FIREBASE -->
		<add key="FirebaseProjectId" value="PDVMercado-d2f35"/>
	</appSettings>
</configuration>